.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselExampleControls{
    height: 300px !important;
    width: 100%;
    margin: 0 15px 0 15px;
    border-radius: 15px;
}
#carouselExampleControls img{
    height: 300px;
    width: auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}
.egresados{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 30px !important;
    color: #92e27a !important;
}
.videoscitinfo{
    display: grid;
    place-items: center;
    margin: 10px 0;
}
.videoscitinfo iframe{
    border-radius: 15px;
    transition: -webkit-box-shadow .5s ;
}