/*Responsive Mobile*/
@media (max-width:425px) {
    .header{
        width: 100%;
    }
    .menu{
        width: 100%;
        font-size: 40px;
    }
    .ContainerCuadros{
        margin: 15px 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        /*margin-left: 35px;*/
        
    }
    .cuadros{
        margin: 12px 0 5px !important;
    }
    .AboutLiceo{
        display: flex;
        flex-direction: column;
    }
    .InfoLiceo{
        width: 100%;
        height: 550px;
        border-right: 3px solid rgb(44, 207, 11);
        border-bottom: none !important;
        border-radius: 15px 15px 0px 0px !important;
    }
    .ImgLiceo{
        width: 100%;
        border-top: none !important;
        border-radius: 0px 0px 15px 15px !important ;
        border-left:3px solid rgb(44, 207, 11) ;
        height: 250px !important;
    }
}
/*Responsive Laptop*/
@media (max-width: 1024px){
    .cuadros{
        margin: 0 10px ;
    }
}
/*Responsive tablet*/
@media (min-width: 426px){
    /*.cuadros{
        height: 480px !important;
    }*/
    .AboutLiceo{
        height: 550px;
    }
    .InfoLiceo{
        height: 550px;

    }
    .ImgLiceo{
        height: 550px;
    }
}