@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700;800&display=swap');
/*font-family: 'Sora', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif !important;
}
body{
    background-color: rgb(136, 134, 134) !important;
    background-color: white !important;
  }

::-webkit-scrollbar {
    display: none;
}
/*Header*/
header{
    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/

}
h1{
    display: block !important;
    font-size: 2em !important;
    margin-block-start: 0.67em !important;
    margin-block-end: 0.67em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: bold !important;
    color: black !important;
    padding: 3px 3px;
    border-color: rgb(44, 207, 11);
    border-radius: 10px;
    transition: all 2s;

}
header .tittle{
    font-weight: 800;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
header img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
}
header .HeaderMenu{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.HeaderMenu a{
    text-decoration: none;
    color: black;   
    
}
/*Imagen inicial*/
.FlexMenu{
    display: flex;
    justify-content: center;
}
.menu{
    background-color: rgb(90, 90, 90);
    background-image: url(../img/imghomeirl.jpeg);
    background-image: cover;
    background-position: center;
    height: 550px;
    width: 1250px;
    margin: 5px 0 0 ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    color: white;
    filter: grayscale(1);
    transition: 4s;
}
.menu a{
    font-weight: 600 !important;
}
.menu p{
    font-weight: 600 !important;
}
/*HR HR HR*/
.hr{
    display: flex;
    justify-content: center;
}
.hr div{
    margin: 15px 0 ;
    padding: 0 30px;
    border: none;
    border-bottom: black 2px solid;
    border-bottom: rgb(44, 207, 11) 2px solid !important;
    height: .5px;
    width: 500px;
}
/*Mensaje sobre el liceo*/
.Message{
    margin: 15px 0 0;
    text-align: center;
    font-size: 20px;
    color: black !important;;
}
/*Los 3 cuadros*/
.ContainerCuadros{
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-evenly;
}
.cuadros{
    
    height: 350px;
    width: 350px;
    border: 3px solid rgb(44, 207, 11);
    /*background-color: rgb(173, 179, 179)*/;
    padding: 15px 15px;
    border-radius: 15px;
    text-align: center;
    color: black !important;
}

.icon{
    background-color: white;
    background-color: black !important;
    width: 50px;
    height: 50px;
    border-radius: 30px;

}
.ContainerIcon{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.cuadros p{
    margin-top: 10px;
    margin-bottom: 15px;
}
/*Cuadro liceo samario*/
.AboutLiceo{
    display: flex;
    justify-content: center;
    
    
}

.InfoLiceo{
    background-color: rgba(173, 179, 179, 0);
    height: 450px;
    width: 500px;
    border-radius: 15px 0 0 15px  ;
    padding: 15px ;
    border-top: 3px solid rgb(44, 207, 11) !important;
    border-bottom: 3px solid rgb(44, 207, 11) !important;
    border-left: 3px solid rgb(44, 207, 11) !important;
    color: black !important;
}
.InfoLiceo b{
    font-size: 30px;
}
.InfoLiceo p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ImgLiceo{
    background-color: rgb(90, 90, 90);
    background-image: url(../img/escudo-piso.jpg);
    background-image: cover;
    background-position: center;
    height: 450px;
    width: 500px;
    border-radius: 0 15px 15px 0;
    border-top: 3px solid rgb(44, 207, 11) !important;
    border-bottom: 3px solid rgb(44, 207, 11) !important;
    border-right: 3px solid rgb(44, 207, 11) !important;
}
/*link sobre el liceo */
.buton{
    display: flex;
    justify-content: center;
}
.button{
    border: rgb(83, 83, 83) 2px solid;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 15px 0 15px 0 ;
    color: black;
}

/*footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 107, 107);
    background-color: rgba(107, 107, 107, 0) !important;
    height: 80px;
}
.HrFooter{
    border: none;
    border-bottom: 2px black solid;
    border-bottom: 2px rgb(44, 207, 11) solid !important;
    width: 550px;
}
.IconFooter{
    margin: 0 15px;
}

.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}
.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}
.gg-facebook {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.gg-facebook::after,
.gg-facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}
.gg-facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
}
.gg-facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
}
.IconFooter i{
    color: black;
}
footer p{
    font-weight: 600 !important;
    color: black !important;
    font-size: 20px;
    margin-top: 17px;
}

/*imagen siguiente
.prueba{
    height: 300px;
}*/

/*las redes del cit*/
